* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  height: 100vh;
  /* cursor: none; */
}

nav {
  height: 10vh;
  width: 100%;
}

ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

ul div {
  display: flex;
  gap: 10px;
}

.section_minigame {
  height: 90vh;
  background: url(img/bg.svg) no-repeat;
  background-size: cover;
  overflow: hidden;
}

svg,
g {
  transform-origin: unset;
}

#roueune,
#rouedeux,
#vache {
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

#vache {
  opacity: 0;
  transform: translateY(65%);
}

#bull_text {
  width: 250px;
  height: 250px;
  background-color: white;
  color: black;
  padding: 25px;

  font-size: 16px;
  font-family: sans-serif;

  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );

  position: absolute;
  top: 20%;
  right: 75%;
  z-index: 999;

  display: none;
}

.food_truck {
  width: 50%;

  position: absolute;
  top: 35%;
  left: -100%;
}

.hand {
  width: 20%;

  position: absolute;
  left: 40%;
  top: 100%;
}

.hand #tel-contact {
  display: none;
}

.hand #tel-accueil #contact:hover rect {
  transition: all 0.2s;
  fill: #afc64f;
}

.hand #tel-accueil #appli:hover > rect {
  transition: all 0.2s;
  opacity: 0.7;
}

.hand #tel-accueil #appli-2:hover > rect {
  transition: all 0.2s;
  opacity: 0.7;
}

.hand #tel-accueil #appli-3:hover > rect {
  transition: all 0.2s;
  opacity: 0.7;
}

.hand #tel-accueil #appli-4:hover > rect {
  transition: all 0.2s;
  opacity: 0.7;
}

.hand #tel-accueil #appli-5:hover > rect {
  transition: all 0.2s;
  opacity: 0.7;
}

.hand #tel-accueil #appli-6:hover > rect {
  transition: all 0.2s;
  opacity: 0.7;
}

.hand #tel-accueil #mail:hover > rect {
  transition: all 0.2s;
  opacity: 0.7;
}

.hand #tel-contact #cuisto .cls-06 {
  fill: white;
}

.hand #tel-contact #cuisto .bg_contact_active,
.hand #tel-contact #bryan .bg_contact_active,
.hand #tel-contact #maxime .bg_contact_active {
  fill: #455a64;
}

.hand #tel-contact #cuisto .text_contact_active,
.hand #tel-contact #bryan .text_contact_active,
.hand #tel-contact #maxime .text_contact_active {
  fill: white;
}

.hand #tel-contact #cuisto:hover .bg_contact,
.hand #tel-contact #bryan:hover .bg_contact,
.hand #tel-contact #maxime:hover .bg_contact {
  fill: gainsboro;
}

.hand #tel-contact #appel:hover > path {
  fill: #8c9e3f;
}

.food_truck::before {
  content: "LOL";
  height: 100px;
  width: 100px;
  z-index: 9999;
  background-color: white;
}
