body {
  height: 100vh;
  background: url(img/bg.svg) no-repeat;
  object-fit: cover;
  object-position: 50% 100%;
}

svg,
g {
  transform-origin: unset;
}

#roueune,
#rouedeux,
#vache {
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

#vache {
  opacity: 0;
  transform: translateY(65%);
}

.food_truck {
  width: 50%;

  position: absolute;
  top: 20%;
  left: -100%;
}

.food_truck::before {
  content: "LOL";
  height: 100px;
  width: 100px;
  z-index: 9999;
  background-color: white;
}
